@using Combres.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/css/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link rel="home" id="ApplicationRoot" href="@Url.Content("~/")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/Content/css/login.css" rel="stylesheet" />*@

    @Url.CombresLink("extjs6_CSS")
    @Url.CombresLink("siteCss")

</head>
<body>

    @RenderSection("styles", required: false)

    @*Ajaxpro*@
    @Url.CombresLink("Ajaxpro")
    @*/Ajaxpro*@

    @RenderSection("ajaxpro", required: false)

    @Url.CombresLink("extjs6_JS")

    <div id="divBodyRender">
        @RenderBody()
    </div>

    @*@RenderPage("_AnalyticsUserControl.cshtml")*@
    @Url.CombresLink("siteJs")

    @RenderSection("Scripts", required: false)
</body>
</html>
